.container{
    margin:  auto;
    margin-top: 100px;
    border: 1px solid #9ca1b3;
    box-shadow: 2px 2px 3px #003;
    border-radius: 24%;
    height: 400px;
    width: 400px;
    background: #9593a4;
    padding: 5px 0px 5px 15px;
    
    
}
.container > form > p{
    color: #ebecef;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.container > form > label{
    color: white;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.info {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 